#projects {
  padding-top: 5vh;
}

.main-projects-container {
  width: 90%;
  margin: auto;
}

.main-projects-container h1 {
  text-align: center;
}

#projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.5em;
  color: white;
  padding: 1em 0 2.5em 0;
}

#contacts-container {
  display: flex;
  color: white;
  padding: 1em 0 2.5em 0;
  justify-content: center;
}

#project-1 > h2 {
  margin: 1em;
  font-size: 1.5em;
  font-weight: normal;
}

#project-1 > p {
  margin: 0 1em 2.5em 1.5em;
  font-weight: 500;
}

#project-2 > h2 {
  margin: 1em;
  font-size: 1.5em;
  font-weight: normal;
}

#project-2 > p {
  margin: 0 1em 2.5em 1.5em;
  font-weight: 500;
}

#project-3 > h2 {
  margin: 1em;
  font-size: 1.5em;
  font-weight: normal;
}

#project-3 > p {
  margin: 0 1em 2.5em 1.5em;
  font-weight: 500;
}

.desc-project {
  min-height: 22vh;
}

.project-btn,
.contact-btn {
  padding: 0.5em 0.5em;
  margin: 0 0 0 1.5em;
  width: 9em;
  background-color: var(--main-color);
  color: var(--composition-color);
  outline: none;
  border: 2px solid var(--composition-color);
  border-radius: 0.5em;
  font-size: 0.9em;
  font-weight: 500;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.5s;
}

.project-btn:hover,
.contact-btn:hover {
  background-color: var(--composition-color);
  color: white;
  border: 2px solid var(--composition-color);
}

.projects-box {
  max-width: 30vw;
  max-height: 45vh;

  background-color: var(--secundary-color);
  border-radius: 0.5em;
}

.contacts-box {
  width: 60vw;
  height: 12vh;

  background-color: var(--main-color);
  border-radius: 0.5em;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vh;
}

#projects {
  min-height: 70vh;
  background-color: var(--main-color);
}
