/*GLOBAL SETTINGS*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: var(--main-font);
  scroll-behavior: smooth;
}

:root {
  --main-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --main-color: #2e2f34;
  --secundary-color: #212225;
  --composition-color: #3c91e6;
  --composition-color-hover: #1778da;
  --text-hover: #d3d5d7;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.header {
  position: fixed;
  width: 100vw;
}

p {
  text-align: justify;
}

/*  NAVBAR SETTINGS */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background: var(--main-color);
  color: white;
}

nav > h2 {
  margin-left: 1em;
  letter-spacing: 1.5px;
}

h2 > span {
  color: var(--composition-color);
}

.nav-list {
  display: flex;
}

.nav-list li {
  margin-right: 2em;
  padding: 0.7em;
}

li a {
  color: white;
  transition: 0.3s;
  border-bottom: 2px solid var(--main-color);
}

li a:hover {
  color: var(--text-hover);
  border-bottom: 2px solid var(--text-hover);
}

/* SECTIONS */
#about-me {
  min-height: 70vh;
  background: var(--main-color);
  color: white;
}

.info-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 100vw;
  padding: 20vh 5vw;
}

.info-container #greetings {
  width: 30vw;
}

.info-container p a {
  color: white;
  font-weight: 500;
  margin-right: 1em;
  transition: 0.5s;
}

.info-container a:hover {
  color: var(--text-hover);
}

.info-container h2 {
  max-width: 16vw;
  font-size: 2em;
}

.info-container h1.title {
  font-size: 2em;
  margin-bottom: 0.5em;
  border-bottom: 4px solid var(--composition-color);
}

.info-container button {
  margin-top: 2em;
  padding: 1em 1em;
  min-width: 10vw;
  background-color: var(--main-color);
  color: var(--composition-color);
  outline: none;
  border: 2px solid var(--composition-color);
  font-size: 0.9em;
  font-weight: 500;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.5s;
}

.info-container button:hover {
  background-color: var(--composition-color);
  color: white;
  border: 2px solid var(--composition-color);
}

img {
  border-radius: 50%;
  height: 40vh;
}

#skills-container {
  background: var(--secundary-color);
  color: white;
}

#skills {
  max-width: 40vw;
}

#skill-title {
  font-size: 2.5em;
  margin-bottom: 0.5em;
  border-bottom: 4px solid var(--composition-color);
}

#stack-title {
  display: none;
}

.stack-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 30vw;
  margin: 2.5em 0;
}

.stack-imgs {
  border-radius: 0;
  max-height: 10vh;
}

#projects {
  padding-top: 5vh;
}

#projects-header {
  padding: 2vh 0;
  color: white;
  font-size: 1.5em;
  font-weight: normal;
  /* border-bottom: 4px solid var(--composition-color); */
  width: 6.25em;
  margin: auto;
}

.main-projects-container {
  width: 90%;
  margin: auto;
}

.main-projects-container h1 {
  text-align: center;
}

#projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.5em;
  color: white;
  padding: 1em 0 2.5em 0;
}

#project-1 > h2 {
  margin: 1em;
  font-size: 1.5em;
  font-weight: normal;
}

#project-1 > p {
  margin: 0 1em 2.5em 1.5em;
  font-weight: 500;
}

#project-2 > h2 {
  margin: 1em;
  font-size: 1.5em;
  font-weight: normal;
}

#project-2 > p {
  margin: 0 1em 2.5em 1.5em;
  font-weight: 500;
}

#project-3 > h2 {
  margin: 1em;
  font-size: 1.5em;
  font-weight: normal;
}

#project-3 > p {
  margin: 0 1em 2.5em 1.5em;
  font-weight: 500;
}

.project-btn {
  padding: 0.5em 0.5em;
  margin: 0 0 0 1.5em;
  width: 9em;
  background-color: var(--main-color);
  color: var(--composition-color);
  outline: none;
  border: 2px solid var(--composition-color);
  border-radius: 0.5em;
  font-size: 0.9em;
  font-weight: 500;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.5s;
}

.project-btn:hover {
  background-color: var(--composition-color);
  color: white;
  border: 2px solid var(--composition-color);
}

.projects-box {
  max-width: 30vw;
  height: 45vh;

  background-color: var(--secundary-color);
  border-radius: 0.5em;
}

#projects {
  min-height: 70vh;
  background-color: var(--main-color);
}

/*  RESPONSIVIDADE  */
@media (min-width: 1369px) {
  .projects-box {
    min-height: 30vh;
    max-height: 45vh;
  }
}

@media (max-width: 1368px) {
  .main-projects-container {
    display: grid;
    justify-content: center;
  }

  .projects-box {
    min-height: 60vh;
  }

  #project-1 > h2 {
    margin: 1em;
  }

  #project-2 > p {
    margin: 0 1.5em 2.5em 1.5em;
  }

  #project-2 > h2 {
    margin: 1em;
  }

  #project-3 > p {
    margin: 0 1.5em 2.5em 1.5em;
  }

  #project-3 > h2 {
    margin: 1em;
  }

  #project-1 > p {
    margin: 0 1.5em 2.5em 1.5em;
  }

  .project-btn {
    width: 25vw;
    margin-bottom: 1.5em;
    margin-right: 1.5em;
  }
}

@media (max-width: 1099px) {
  .info-container > #greetings {
    width: 100vw;
  }

  #greetings > .title {
    width: 50vw;
    margin: 0.6em auto;
    overflow-x: hidden;
  }

  #greetings > h2 {
    min-width: 100vw;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
  }

  .info-container > .img {
    margin: auto;
  }

  .stack-container {
    width: 35vw;
  }

  #projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .projects-box {
    min-height: 65vh;
  }
}

@media (max-width: 800px) and (min-width: 500px) {
  nav {
    display: grid;
    height: 15vh;
    overflow-x: hidden;
  }

  nav > h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100vw;
    margin-left: -0.03em;
  }

  .nav-list {
    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
    justify-content: space-between;
  }

  #skill-title {
    font-size: 2em;
  }
  #stack-title {
    text-align: center;
    margin: auto;
    display: block;
  }

  #skills > p {
    width: 88vw;
    overflow-x: hidden;
  }

  .stack-container {
    width: 100vw;
    overflow-x: hidden;
  }

  #projects-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .projects-box {
    max-width: 80vw;
    min-width: 30vh;
    min-height: 35vh;
  }

  .project-btn {
    max-width: 20vw;
  }

  @media (max-width: 499px) {
    .nav-list {
      display: grid;
      grid-template-columns: 20.5vw 20.5vw 20.5vw 20.5vw 20.5vw;
      justify-content: space-around;
    }
  }
}
