/*GLOBAL SETTINGS*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: var(--main-font);
  scroll-behavior: smooth;
}

:root {
  --main-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --main-color: #2e2f34;
  --secundary-color: #212225;
  --composition-color: #3c91e6;
  --composition-color-hover: #1778da;
  --text-hover: #d3d5d7;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.disable-text-selection {
  user-select: none;
}

.cursor-pointer {
  cursor: pointer;
}
.not-allowed {
  cursor: not-allowed;
}

a {
  text-decoration: none;
  color: white;
}

.header {
  position: fixed;
  width: 98.9vw;
}

p {
  text-align: justify;
}

/*SECTIONS*/
#show-on-mobile {
  display: none;
}

#about-me {
  min-height: 70vh;
  background: var(--main-color);
  color: white;
}

.info-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 100vw;
  padding: 20vh 5vw;
}

.info-container #greetings {
  width: 30vw;
}

.info-container p a {
  color: white;
  font-weight: 500;
  margin-right: 1em;
  transition: 0.5s;
}

.info-container a:hover {
  color: var(--text-hover);
}

.info-container h2 {
  max-width: 16vw;
  font-size: 2em;
}

.info-container h1.title {
  font-size: 2em;
  margin-bottom: 0.5em;
  border-bottom: 4px solid var(--composition-color);
}

button {
  background-color: var(--main-color);
  color: var(--composition-color);
  outline: none;
  border: 2px solid var(--composition-color);
  font-size: 0.9em;
  font-weight: 500;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.5s;
}

button:hover {
  background-color: var(--composition-color);
  color: white;
  border: 2px solid var(--composition-color);
}

img {
  border-radius: 50%;
  height: 40vh;
}

#skills-container {
  background: var(--secundary-color);
  color: white;
}

#skills {
  max-width: 40vw;
}

#skill-title {
  font-size: 2.5em;
  margin-bottom: 0.5em;
  border-bottom: 4px solid var(--composition-color);
}

#stack-title {
  display: none;
}

.stack-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 30vw;
  margin: 2.5em 0;
}

.stack-imgs {
  border-radius: 0;
  max-height: 10vh;
}

.section-header {
  padding: 2vh 0;
  color: white;
  font-size: 1.5em;
  font-weight: normal;
  text-align: center;
}

.btn-container {
  display: flex;
  justify-content: space-between;
}

/*CONTACTS  */
#get-in-touch {
  min-height: 25vh;
  width: 100vw;
  background-color: var(--secundary-color);
}

#contacts-container {
  display: flex;
  color: white;
  padding: 1em 0 2.5em 0;
  justify-content: center;
}

.contacts-box {
  width: 60vw;
  height: 12vh;

  background-color: var(--main-color);
  border-radius: 0.5em;
}

.contacts-section > p {
  text-align: center;
  color: white;
  font-weight: 500;
}

/*  RESPONSIVIDADE  */
@media (min-width: 1369px) and (max-width: 1720px) {
  .project-description {
    height: 150px;
  }

  .btn-container {
    background-color: red;
    flex-direction: column;
  }
  
  .controls-container {
    width: 100%;
    padding-bottom: 0;
    margin: 0;
  }
}

@media (min-width: 1100px) and (max-width: 1368px) {
  .main-projects-container {
    display: grid;
    justify-content: center;
  }

  .project-box {
    height: 40vh;
  }

  .btn-container {
    height: 10px;
  }

  .project-description {
    height: 200px;
  }

  #projects > h2 {
    margin: 1em;
  }

  #projects > p {
    margin: 0 1.5em 2.5em 1.5em;
  }

  .project-btn {
    width: 100%;
  }
}

@media (min-width: 801px) and (max-width: 1099px) {
  #greetings > #introduction {
    visibility: hidden;
  }

  .info-container > #greetings {
    width: 100vw;
  }

  #greetings > .title {
    width: 50vw;
    margin: 0.6em auto;
    text-align: center;
    overflow-x: hidden;
  }

  #greetings > h2 {
    width: 100vw;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
  }

  .info-container > .img {
    margin: auto;
  }

  .stack-container {
    width: 35vw;
  }

  .project-box {
    min-height: 65vh;
  }
}

@media (max-width: 800px) {
  .info-container {
    width: 96.5vw;
  }

  #greetings {
    max-width: 88vw;
  }

  #greetings > h2 {
    max-width: 88vw;
    font-size: 1.56em;
  }

  #greetings > h1 {
    min-width: 50vw;
    text-align: center;
    font-size: 1.75em;
  }

  nav {
    display: grid;
    height: 15vh;
    overflow-x: hidden;
    width: 100vw;
  }

  nav > h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100vw;
    margin-left: -0.03em;
  }

  .nav-list > li {
    margin: auto;
  }

  #skill-title {
    font-size: 2em;
  }

  #stack-title {
    text-align: center;
    margin: auto;
    display: block;
  }

  #skills > p {
    width: 88vw;
    overflow-x: hidden;
  }

  .stack-container {
    width: 100vw;
    overflow-x: hidden;
  }


  .project-box {
    max-width: 80vw;
    min-width: 30vh;
    min-height: 35vh;
  }

  .project-btn {
    max-width: 20vw;
  }

  .contact-btn {
    width: 4em;
    margin: auto;
  }

  .svg-width {
    width: 20px;
  }
}
