@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

/*GLOBAL SETTINGS*/
* {
  font-family: var(--main-font);
  scroll-behavior: smooth;
}

:root {
  --main-font: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --main-color: #2e2f34;
  --secundary-color: #212225;
  --composition-color: #3c91e6;
  --composition-color-hover: #1778da;
  --light-mode-composition-color: #1778da;
  --text-hover: #d3d5d7;
}

html {
  scroll-behavior: smooth;
}
